html {
    height: 100%;
    font-size: 15px;
}
h1{
    float: right;
    font-size: calc(1.200rem + 1.5vw);
}

body{
    background:rgb(146, 170, 165);
}
.container-fluid, .col.b-header{
    background-color:rgb(102, 139, 131);

}
.col {
    background-color:rgb(122, 151, 145);
}

.b-nav ul li{
    list-style-type: none;
}
.b-nav ul{
    
    padding-right: 20px;
}

.b-nav{
    clear:both;
}

#nav1 ul li{
    
    list-style-type: none;
}
nav a{
    text-decoration: none;
}

.logo{
    float: left;
}
table {
    border-collapse: collapse;
    border: 3px solid grey;
    text-align: center;
    
}
td, th {
    border: 1px solid grey;
}

tr.prime {
    background: rgb(160, 172, 190);

}

tr.nprime {
    background: rgb(126, 142, 167);

}

th {
    background: rgb(157, 161, 182);
}


@media screen and (min-device-width: 768px) {

    #nav1{
        text-align: center;
    }
    .h-h1{
        float: none;
        
    }
    .b-header, .row, .col, .shapka, .podval, .nav1, .form, .table, .f{
        max-width: 960px;

    }

        .nav1 ul li{
            display: inline-block;
            margin-left: 10%;
            margin-right: 10%;
            list-style-type: disc;
            margin-bottom:0vw;
        }

    }
  
